#main {
    display: grid;
    height: 30rem; 
    width: 60rem; 
    grid-template-columns: 1fr 2fr; 
    grid-template-rows: auto; 
    gap: 1rem 1.5rem; 

    div{
        border-radius: 20px;
    }
}

.left-side {
    display: grid;
    grid-template-rows: 1fr 4fr; 
    gap: 10px; 
}

.profile {
   
    grid-row: 1 / 2; 
    border: 1px solid var(--gray-400);
}

.profile-wrapper{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 1rem;
    gap: 1rem;
}

.profile-wrapper h1{
    margin-bottom: .25rem;
}

.profile-img img {
    border:solid 1.5px var(--pink);  
    border-radius: 10px;
    max-width: 100%;    
}

.history {
    background-color: lightgreen; 
    grid-row: 2 / 3; 
}

.right-side {
    display: grid;
    grid-template-rows: 3fr 1fr; 
    gap: 10px; 
}

.card {
    background-color: lightcoral; 
    grid-row: 1 / 2; 
}

.progress {
    background-color: lightgoldenrodyellow; 
    grid-row: 2 / 3; 
}