.history {
    border: 1px solid var(--gray-400);
    grid-row: 2 / 3; 
}

.right-side {
    display: grid;
    grid-template-rows: 3fr 1fr; 
    gap: 10px; 
}

.left-side {
    display: grid;
    grid-template-rows: 1fr 4fr; 
    gap: 1rem; 
}


.card {
    border: 1px solid var(--gray-400);
    grid-row: 1 / 2; 
}

.progress {
    border: 1px solid var(--gray-400);
    grid-row: 2 / 3; 
}

